<div class="centrer-les-boutons-style d-flex justify-content-center align-center">
<% if is_owner == true %>
  <%= render 'owner_bookingactions', booking: booking %>
<% else %>
  <%= render 'customer_bookingactions', booking: booking %>
<% end %>
</div>
