.mobile-scroll-container {
  max-height: calc(100vh - 100px); /* Réglez la hauteur maximale en fonction de la hauteur de l'écran */
  overflow-y: auto; /* Active le défilement vertical si le contenu dépasse la hauteur du conteneur */
  margin-top: -2rem;  /* Ajoute une marge de 20px en haut */
}

// .bg-primary {
//   background: linear-gradient(#FF6868, #9B0054);
//   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.34);
//   border: none;
// }

.carte-rose-user{
  background: linear-gradient(#FF6868, #9B0054);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.24);
  border-radius: 10px;

  margin: 0.3rem;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1.8rem;

}

.economise-partage{
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.economise-partage-chiffres{
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-size: 2.2rem;

}
.image-logo-vehicule-user{
  width: 1rem;
  height: 1rem;
}


.economise-partage{
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.economise-partage-chiffres{
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-size: 2.2rem;
}
.image-logo-vehicule-user{
  width: 1rem;
  height: 1rem;
}
.nom-de-voiture-dans-user{
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
}

.custom-card {
  background: linear-gradient(#FFFFFF, #B1B1B1) !important;
  color: black !important;
  border: none !important;
  border-radius: 10px !important;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.24);
}

.historique-title-show-user{
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
  color: #373737;
}

// verifier que ca ne fait pas bugger

.barregrise {
  background-color: #E0E0E0;
  padding-top: 5px;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.btn-primary {
  border-radius: 10px;
  background-color: #D9D9D9; /* Nouvelle couleur de fond pour le bouton */
  color: #777777;
  text-decoration: none;
  border-color: transparent; /* Pour supprimer la bordure */
}

.btn-primary:hover { /* Utilisation de :hover au lieu de :hoover */
  background-color: #ffffff;
  color: #777777;
}

.policejaune {
  color: #E7AF20;
}

.barre-de-niveau-station{
  height: 0.25rem;
  background-color: #c8c8c8cd;
  width: 8.1rem;
  --color-barre: orange;
  --width-barre: 100%;
  flex: 1;
}

.barre-de-niveau-station::before {
  background-color: var(--color-barre);
  content: "";
  display: block;
  height: 0.25rem;
  width: var(--width-barre);
  background-image: linear-gradient(90deg, #ffffff00, #1f100345);
  flex: 1;
}

.my-profil {
  padding: auto;
}

.user-station-model{
  color: #373737;
}

.avatar-placeholder {
  width: 5rem; /* Adjust as needed */
  height: 5rem; /* Adjust as needed */
  background-color: #ccc; /* Grey color */
  border-radius: 50%; /* Rounded shape */
  border: 4px solid #f5f5f5;
  margin-top: 0.35rem;
  margin-bottom: 0.2rem;
  background-size: cover;
}

.nom-dans-carte-historique{
  font-size: 0.9rem;
}

.avatar-bisbis{
  width: 3.5rem; /* Adjust as needed */
  height: 3.5rem; /* Adjust as needed */
  margin-right: 0.3rem !important;
  margin-left: -0.3rem;
  aspect-ratio: 1 / 1;
  background-size: cover;

}

p {
  color: #373737;
}

h1,
h2 {
  color: #373737;
}

h4 {
  color: #373737;
}

h4 {
  color: #373737;
}
h5.username-badge {
  color: #5F5F5F;
  font-size: 1.4rem;
  margin-bottom: -0.3rem;
}

.fa-ranking-star {
  color: black;
  /* Ajout du point-virgule */
  position: relative;
  bottom: 0.5rem;
}

// .row {
//   margin-bottom: 1rem;
//   margin-top: 1rem;
// }

.flex-grow-1-bis {
  flex-grow: 1;
}

div.mate-type-user {
  display: flex;
}

div.flex-grow-1 {
  flex-grow: 1;
  align-items: end;
}
// verifier que ca ne fait pas tout bugger

.booking-date {
  color: #a40753;
  font-size: 0.8rem;
}


.booking-details{
  margin-left: 2.4rem;
}

.booking-status {
}


.booking-status-text {
  font-size: 0.8rem;
}

/* Styles for the content of user vehicles */
.strong.vehicles-user-card {
  text-decoration: none;
}

/* Hover effect for user vehicle content */
.strong.vehicles-user-card:hover {
  text-decoration: none;
  color: #000000;
}

.card-body-historique {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 3rem;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.34);
border:none;
  border-radius: 10px !important;
}


.img.mr-3 {
  position: relative;
  right: 1rem;
}

.fa-hourglass-half, .fa-check-circle {
  opacity: 0.6;
}

.booking-duration {
  top: 0.67rem;
  position: relative;

  right: 2.2rem;
  font-size: 0.8rem;
}

.booking-barre-plusgrande {
    width: 14rem;
}

.booking-barre-plusgrande::before {
  height: 0.35rem;
}

.user-level-placement{
  width: 93%;
}

.badges-if-any-parent {
  position: relative;
}

.badges-if-any{
  font-size: 0.7rem;
  position: absolute;
  top: 0.3rem;
  right: 1rem;
}

.titre-top-france{
  margin-top: -0.7rem;
}
.titre-level-et-xp{
  margin-bottom: 0.5rem;
  margin-top: -0.7rem;
}

#les-deux-titres-1{
  font-size: 1.5rem;
  margin-bottom: 0.22rem;
  margin-right: 0.3rem;
}
#les-deux-titres-2{
  font-size: 2.1rem;
}
#les-deux-titres-3{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}
#les-deux-titres-4{
  font-size: 2.5rem;
  margin-bottom: -0.2rem;
}
#les-deux-titres-5{
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  margin-left: 0.3rem;
}

.chevron-icones{
  i{
    font-size: 2rem;
    color: rgb(170, 170, 170);
  }
}

.div-parent-relative{
  position: relative;
}
.petite-croix-historique{
  position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    font-size: 1.4rem;
    color: #616161 !important;
}
.groupe-attente{
  margin-right: 0rem;
  margin-top: 0.2rem;
}

.fa-trash-alt{
  font-size: 1.4rem;
  color: #616161 !important;
  position: relative;
  right: -0.5rem;
}
.image-de-badges{
  background-size: cover;
  height: 1.6rem;
  width: 1.6rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.44);
}
.div-des-badges{
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

// CSS DES FEUILLES

.feuille-profile-show{
  position: absolute;
  top: 3.1rem;
  left: 5.7rem;
  height: 2rem;
  width: 2rem;
  background-size: cover;
}
.feuille-bookings-show{
  position: absolute;
  top: 6.2rem;
  left: 6rem;
  height: 1.8rem;
  width: 1.8rem;
  background-size: cover;
}
.feuille-bookings-show-profile{
  position: absolute;
  top: 0rem;
  left: -2rem;
  height: 2rem;
  width: 2rem;
  background-size: cover;
}
.feuille-stations-show{
  position: absolute;
  top: 6.8rem;
  left: 9rem;
  height: 1.3rem;
  width: 1.3rem;
  background-size: cover;
}
.serie-de-semaines {
  font-size: 1.3rem;
  color: #cf9610;
  font-style: italic;
  background-color: white;
  width: fit-content;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.24);
}
.nouvelle-div-de-container{
  margin: 0.8rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 15px rgba(0,0,0,0.24);
}
