/* Style pour le conteneur de défilement sur mobile */
.mobile-scroll-container {
  max-height: calc(100vh - 100px); /* Réglez la hauteur maximale en fonction de la hauteur de l'écran */
  overflow-y: auto; /* Active le défilement vertical si le contenu dépasse la hauteur du conteneur */
  margin-bottom: auto;
}

.bg-primary {
  background: linear-gradient(#FF6868, #9B0054);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.34);
}

.custom-card {
  background: linear-gradient(#FFFFFF, #B1B1B1) !important;
  color: black !important;
}

.col-md-12, .container {
  margin-top: 20px; /* Ajoute une marge de 20px en haut */
}
.barregrise {
  background-color: #E0E0E0;
  padding-top: 5px;
  margin-bottom: 1rem;
}

.card-text{
  font-size: 1.2rem;
}

.btn-primary {
  border-radius: 10px;
  background-color: #D9D9D9; /* Nouvelle couleur de fond pour le bouton */
  color: #777777;
  text-decoration: none;
  border-color: transparent; /* Pour supprimer la bordure */
}

.btn-primary:hover { /* Utilisation de :hover au lieu de :hoover */
  background-color: #ffffff;
  color: #777777;
}

.policejaune {
  color: #FFC719;
}

.barre-de-niveau-station{
  height: 0.25rem;
  background-color: #c8c8c8cd;
  width: 7rem;
  --color-barre: orange;
  --width-barre: 100%;
}
.barre-de-niveau-station::before{
  background-color: var(--color-barre);
  content: "";
  display: block;
  height: 0.25rem;
  width: var(--width-barre);
  background-image: linear-gradient(90deg, #ffffff00, #1f100345);
}

.my-profil {
  padding: auto;
}

.avatar-placeholder {
  width: 4rem; /* Adjust as needed */
  height: 4rem; /* Adjust as needed */
  background-color: #ccc; /* Grey color */
  border-radius: 50%; /* Rounded shape */
  position: relative;
    bottom: 1rem;
    right: 0rem;
    z-index: 1000;
}


p {
  color: #373737;
}

h1 {
  color: #373737;
}

h2 {
  color: #373737;
}

h4 {
  color: black;

}

h5.username-badge {
  color: #5F5F5F;
  font-size: 1rem;
  margin-bottom: -0.3rem;
  position: relative; /* Positionnement absolu */
  bottom: 0rem;
  right: 4rem;
  z-index: 1000;

}



.row {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
